<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Foreground Service Types -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Body Sensor -->
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.BODY_SENSORS_BACKGROUND" />
    <uses-permission
        android:name="android.permission.health.READ_SKIN_TEMPERATURE"
        tools:ignore="HealthConnectPolicy" />
    <uses-permission
        android:name="android.permission.health.READ_HEART_RATE"
        tools:ignore="HealthConnectPolicy" />
    <uses-permission
        android:name="android.permission.health.READ_HEALTH_DATA_IN_BACKGROUND"
        tools:ignore="HealthConnectPolicy" />
    <uses-permission android:name="com.samsung.android.hardware.sensormanager.permission.READ_ADDITIONAL_HEALTH_DATA" />

    <!-- Activity Recognition (required by the accelerometer sensor) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application>
        <service
            android:name=".sensor.controller.BackgroundController$ControllerService"
            android:exported="false"
            android:foregroundServiceType="health|specialUse" />
    </application>
</manifest>
